.menu.blue

	ul
		li 
			a(href="/" + getLocale() + "/") #{__('MenuBar.Home')}
		li 
			a(href="#") Page 1
		li
			a(href="#") Page 2
		li.dropdown 
			p Dropdown
			ul.dd-content
				li 
					a(href="#") Super Mega Long Texte
				li
					a(href="#") Second

	//- Menu on the right side of the bar
	ul.pull-right
		li 
			a(href="#") Right
	div.clear