.menu.blue
	ul
		li 
			a(href="/") #{__('MenuBar.Home')}
		li 
			a(href="#") Page 1
		li
			a(href="#") Page 2
		li.dropdown Dropdown
			ul.dd-content
				li Super Mega Long Texte
				li Deux

	//- Menu on the right side of the bar
	ul.pull-right
		li Right
	div.clear