html
	head
		include ./includes/javascript.pug
		include ./includes/css.pug
		title App
		meta(name="viewport", content="width=device-width")
	body
		//-Inserting menubar into the page
		menubar

		//-Page Content
		#main


			
script.
	
	var router = new Router();
	var localizer = new Localizer();

	localizer.getTranslation(null, function(){

		riot.mount('menubar', {});

		var currentView = riot.mount("#main", 'home', {})[0];

		localizer.localizeView("body");

	});



