html
	head
		include ./includes/javascript.pug
		include ./includes/css.pug
		title App
		meta(name="viewport", content="width=device-width")
	body
		//-Inserting menubar into the page
		menubar

		//-Page Content
		#main


			
script.
	
	var router = new Router();

	riot.mount('menubar', {});

	var currentView = riot.mount("#main", 'home', {})[0];

